<div class="card">
	<div class="card-header">
		<h2 class="card-title">About</h2>
	</div>
	<div class="card-body">
		<div class="text-center">
			rGameNode is a web game hosting platform built using the MEAN development stack.
			Learn more about us or view the code here:
			<a href="https://github.com/nnapior/rgamenode-ui" target="_blank" class="link-secondary">UI source code</a> &
			<a href="https://github.com/nnapior/rgamenode-api" target="_blank" class="link-secondary">API source code</a>
		</div>
	</div>
<div>
