<div class="row row-deck row-cards">
<ng-container *ngFor="let game of allgames">
<div class="col-sm-6 col-lg-3">
  <a [routerLink]="['/games', game._id]">
    <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="card-title">{{game.name}}</div>
        
        <div class="ml-auto lh-1">
        </div>
      </div>
      <div class="d-flex mb-2">
        <img src="assets/img/6fe407b4b13bbcde.jpg" width=300 height=200>
      </div>
    </div>
  </div>
</a>
</div>
</ng-container>
</div>
