<!-- Featured Game Header -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <!-- <div class="page-pretitle">
      Featured game of the week
    </div> -->
    <h2 class="page-title">
      All games
    </h2>
  </div>
  <!-- Page title actions -->
  <div class="col-auto ml-auto d-print-none">
    <div class="btn-list" [hidden]="!loggedIn">
      <a routerLink="/add-game" class="btn btn-primary d-none d-sm-inline-block">
        <span class="fas fa-upload fa-md mr-1"></span>
        Upload game
      </a>
    </div>
  </div>
</div>
</div>

<div class="row row-deck row-cards">
<ng-container *ngFor="let game of currentGames">
<div class="col-3">
    <div class="card game-card" [routerLink]="['/games', game._id]">
		<div class="card-img-top">
		  <img class="card-img-top skeleton-image" [src]="'http://localhost:8080/'+ game._id + '/thumbnail.png' | safeUrl" style="height:180px; width: 100%">
		</div>
    <div class="card-body">
        <div class="card-title">{{game.name}}
			<!-- <span class="text-muted"> by {{game.creator}}</span> -->
		</div>
		<div class="text-left">
			{{game.description}}
		</div>
    </div>
  </div>
</div>
</ng-container>

<ul class="pagination mt-4">
  <li class="page-item">
    <button class="page-link" (click)="prevPage()" [disabled]="page==0">
	  <span class="fas fa-angle-left fa-lg"></span>
      prev
    </button>
  </li>
  <div *ngFor="let page of pages; let i = index">
    <li class="page-item"><button class="page-link" (click)="goTo(i)">{{page}}</button></li>
  </div>
  <li class="page-item">
    <button class="page-link" (click)="nextPage()" [disabled]="page==pages.length-1">
      next
	  <span class="fas fa-angle-right fa-lg"></span>
    </button>
  </li>
</ul>
</div>
