<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Overview
      </div>
      <h2 class="page-title">
        New Games
      </h2>
    </div>

    <!-- Page title actions -->
    <div class="col-auto ml-auto d-print-none">
      <div class="btn-list" [hidden]="!loggedIn">
        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-report">
          Create game
        </a>
      </div>
    </div>
  </div>
</div>
