<!-- Featured Game Header -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <!-- <div class="page-pretitle">
      Featured game of the week
    </div> -->
    <h2 class="page-title">
      Featured Game
    </h2>
  </div>
  <!-- Page title actions -->
  <div class="col-auto ml-auto d-print-none">
    <div class="btn-list" [hidden]="!loggedIn">
      <a routerLink="/add-game" class="btn btn-primary d-none d-sm-inline-block">
        <span class="fas fa-upload fa-md mr-1"></span>
        Upload game
      </a>
    </div>
  </div>
</div>
</div>

<!-- Featured game -->
<div class="row mb-4">
  <div class="col"></div>
  <div class="col-lg-6">
    <div class="card game-card" [routerLink]="['../games', featuredGame._id]">
		 <div class="card-img-top">
			 <img class="card-img-top" [src]="'http://localhost:8080/'+ featuredGame._id + '/thumbnail.png' | safeUrl" style="height:400px; width:100%;">
		 </div>
          <div class="card-body">
			<div class="card-title">{{featuredGame.name}}<span class="text-muted"> by {{featuredGame.creator}}</span></div>
			<div class="text-left">
			  {{featuredGame.description}}
			</div>
          </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<!-- Other Games header -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <!-- <div class="page-pretitle">
      Recently u
    </div> -->
    <h2 class="page-title">
      More Games
    </h2>
  </div>
  <!-- Page title actions -->
  <div class="col-auto ml-auto d-print-none">
    <div class="btn-list" [hidden]="!loggedIn">
    </div>
  </div>
</div>
</div>

<!-- All games besides featured game-->
<div class="row row-deck row-cards">
  <ng-container *ngFor="let game of allgames">
    <div class="w-25">
      <div *ngIf="checkDummy(game); else dummyBlock">
          <div class="card card-sm game-card " [routerLink]="['/games', game._id]">
            <div class="card-img-top" >
              <img class="card-img-top skeleton-image" [src]="'http://localhost:8080/'+ game._id + '/thumbnail.png' | safeUrl" style="height:100%; width: 100%">
            </div>
            <div class="card-body">
                <div class="card-title">{{game.name}}<span class="text-muted"> by {{game.creator}}</span></div>
                <div class="text-left">
                  {{game.description}}
                </div>
            </div>
          </div>
      </div>
      <ng-template #dummyBlock>
        <div class="card">
          <div class="card-img-top">
            <div class="skeleton-image"></div>
          </div>
          <div class="card-body">
            <div class="card-title skeleton-heading"></div>
            <div class="text-left">
              <div class="skeleton-line"></div>
              <div class="skeleton-line"></div>
              <div class="skeleton-line"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>
